# Variable Types

I think this is an important concept that has been rushed through. With all these different words and notations in python, it can be difficult to keep up with what's an integer, float, function, list, string, etc... One of the built-in functions that I think is really helpful is the "type()" function. 

- **Variable** : a fake name you assign some value you choose
- **Function** : a set of processes that return a result. It may or may not have an input.
> For example:
>
> some_function(input_a, input_b)
>
> another_function()

For the use I'm intending, I'd like us to just enter 1 argument into the type() function. If we google the documentation, the type function can take in up to 3 argumments: type(name, base, dict).

**some jupyter notebook tips** 
press the + button at the top to insert a new cell. You can select the type of cell using the dropdown menu. I typically just use code and markdown. Shortcut to change a cell to markdown is presing 'm' and entering the cell use 'enter'

In [5]:
#We'll set a few variables here. Remember, variables are things you can assign any alphanumeric name BUT it must start with a letter, NO numbers

a = 0
asdf = "Some gibberish"
a123 = True
catdogmouse = 15.1
beta_0000 = 5
i = [0, "beach", "blonde", "bear", False]

##### Below, we're going to test each function. In order to run a cell in jupyter notebook, press
###### ctr + enter : to run and stay in the same cell
###### shift + enter : to run and move to the next cell

In [15]:
type(a)

int

In [16]:
type(asdf)

str

In [17]:
type(a123)

bool

##### Continue testing the rest of the variables below:

In [25]:
#Test remaining variables here

##### We can also run the type function on things that are not variables.

In [27]:
type("is this an int? or string?")

str

In [31]:
type("123") #notice this is a string because of the quotation marks

str

In [32]:
type(range(5))

range

##### So below, we can see that we create a for loop that runs through a range of range(5), which is the same as running through [0,1,2,3,4]. You can see that it prints out two values print(value1, value2). Value1 is the variable we're iterrating i, and Value2 returns the type of i, using our type function. 

##### Importan note: multiplying an integer by a float (5.5) makes it a float. e.g. multiplying a numeric variable by a larger numeric type will make the result into a larger numeric type. In python, floats can hold more/larger values than integers. 
- **Integer** : 1, 2, 3, 100, 32000
- **Floats** : .01, .1, 1.1, 1.11, 1.111

In [24]:
for i in range(5):
    print(i, type(i))
    print(i * 5.5, type(i*5.5))
    print("")

0 <class 'int'>
0.0 <class 'float'>

1 <class 'int'>
5.5 <class 'float'>

2 <class 'int'>
11.0 <class 'float'>

3 <class 'int'>
16.5 <class 'float'>

4 <class 'int'>
22.0 <class 'float'>

##### We often see for loops with the variable i, but it can be anything. We set variables to things that will make more sense in the overall context. Sometimes we'll set it to rows, if we're itterating through rows. That being said, there are several type of variables that we can itterate through other than lists... We saw that with the csv example in class

In [33]:
for catdog in range(5):
    print(catdog, type(catdog))
    print(catdog * 5.5, type(catdog*5.5))
    print("")

0 <class 'int'>
0.0 <class 'float'>

1 <class 'int'>
5.5 <class 'float'>

2 <class 'int'>
11.0 <class 'float'>

3 <class 'int'>
16.5 <class 'float'>

4 <class 'int'>
22.0 <class 'float'>

##### A few more examples, then feel free to explore some more on your own

In [ ]:
sasa = input("Enter a word or number: " )
print(sasa)
print(type(sasa))

#Notice what happens when you enter a number(int/float), how would we change it to the type we want so we can actually use it for numeric calculations?

In [34]:
type(print)

builtin_function_or_method

In [35]:
type(input)

method